<div class="container" id = "edit-container">
  <div class="row justify-content-around">
    <div class="col-lg-6" id = "left-part">
      <%= simple_form_for(@list, method: :patch,  html: {type: "html", controller: "hello"}) do |f| %>
      <%= f.input :name, input_html: { id: :list_name_edit }, required: true%>
      <%= f.label :description, 'describe your workshop ' %>
      <%= f.input :description, :input_html => {:rows => 1}, placeholder: 'A class that does things' , label_html: { class: 'form' }, label: false %>
      <%= f.input :photo , label: 'Add a cover photo:',  :label_html => { :class => 'input-label' } %>
      <%= f.input :photo_cache, label_html: { class: 'form' }, as: :hidden %>
    <% end %>


      <div id = "add-a-place">
        <h3 class = 'text-left'><%= "Start by adding classes:"%></h3>
        <%= render 'list_places/form', list: @list, list_place: @list_place %>
      </div>

      <div class = 'text-right'>
       <button class = 'text-right btn-info' id="save-list-button">Save n Upload</button>
      </div>
    </div>

    <div class="col-lg-6" id = "right-part">
      <div class="container" id = "places">
        <% @list.list_places.each_with_index do |lp, index| %>
        <%= render 'list_places/show', list: @list, lp: lp %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'form/autocomplete' %>
<%= javascript_pack_tag 'form/saveForm' %>





