<h1><%= @list.name %></h1>

<%= simple_form_for(@list, method: :patch) do |f| %>
<%= f.input :description , label_html: { class: 'form' } %>
<%= f.input :photo , label_html: { class: 'form' } %>
<%= f.input :photo_cache, label_html: { class: 'form' }, as: :hidden %>
<%= f.input :is_public %>
<%= f.submit 'Save list' %>
<% end %>

<%= render 'listplaces/form', list: @list, list_place: @list_place %>

<br>

<% @list.list_places.each_with_index do |lp, index| %>
<p><%=lp.place.name%></p>
<p><%=lp.place.address%></p>
<p> comment: <%= lp.comments%></p>
<p><%= render 'listplaces/delete', list_place: lp, list: @list%></p>
<br>
<% end %>

<%= javascript_pack_tag 'form/autocomplete' %>






