<% if current_page?(root_path) || current_page?(lists_path) %>
<div class="home-banner" style="background-image: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path 'LISTA-BANNER-1.jpg' %>');">
  <div class="banner-content">
    <h1>share your favorite places</h1>
  </div>
  <div class="banner-search">

    <%= form_tag lists_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    placeholder: "Search for a place, city or country"
    %>
    <% end %>
  </div>
</div>
<% end %>



<div class="container">



  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"> </div>
    <div class="col-xs-12 col-sm-6 col-md-4"> </div>
    <div class="col-xs-12 col-sm-6 col-md-4" id = "sort-button">
      <%= render 'shared/dropdown-sort'%>
    </div>

    <% @lists.each do |list| %>
    <div class="col-xs-12 col-sm-6 col-md-4 colx">
    <%= render 'shared/card', list: list %>
    </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'plugins/sort_list' %>


