<div class="home-banner" style="background-image: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path 'LISTA-BANNER-1.jpg' %>');">
  <div class="banner-content">
    <h1>share your favorite places</h1>
  </div>
  <div class="banner-search">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        placeholder: "Search for a list"
      %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" id = "card-custom-attributes" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('<%= list.photo.url.nil? ? "placeholder" : cl_image_path(list.photo.url, width: 400, height: 500, crop: :fill) %>')" >
        <%= link_to "", list_path(list), class: 'card-link' %>
        <div class = "card-text-bottom">
          <div class="card-avatar"></div>
          <div class="card-content" style="">
            <%= list.name %>
          </div>
          <div class="card-likes">
            <span class="glyphicon glyphicon-heart"><% if list.favourites.nil? %> 0 Likes <% else %>
              <%= list.favourites.count %> <%= (list.favourites.count) == 1 ? 'Like' : 'Likes'%>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
