<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<%= simple_form_for(@list) do |f| %>
  <!-- [...] -->
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :is_public %>

  <p>This is a new place:</p>
  <%= f.simple_fields_for :places do |h| %>
       <%= h.input :name %>
       <%= h.input :address %>
   <% end %>
   <%= f.simple_fields_for :list_places do |j| %>
       <%= j.input :comments %>
   <% end %>

<button type='button' id="insertForm" onclick='getElementById("insertForm").insertAdjacentHTML("beforebegin", `<%= render "lists/form", f: f %>`)'>Add a new place
</button>

  <br>
  <%= f.submit 'Submit', class: 'btn btn-info'%>
  <!-- [...] -->
<% end %>



