
<div class = "list-container">
  <div class="lists-container" >
    <h1>Create a list</h1>

    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name , label_html: { class: 'form' } %>
    <%= f.input :description , label_html: { class: 'form' } %>
    <%= f.input :photo , label_html: { class: 'form' } %>
    <%= f.input :photo_cache, label_html: { class: 'form' }, as: :hidden %>

    <div class = "list-newplace-container" >
      <strong><p><br>Add a new place</p></strong>
      <%= f.simple_fields_for :list_places do |h| %>
      <%= h.simple_fields_for :place do |j| %>
      <%= j.input :name, label_html: { class: 'form' }, :input_html => { :id => "autocomplete" }%>
      <%= j.input :address, label_html: { class: 'form' }, :input_html => { :id => "full_address" } %>
      <%= j.input :latitude, label_html: { class: 'form' },  :input_html => { :id => "latitude" } , as: :hidden%>
      <%= j.input :longitude, label_html: { class: 'form' }, :input_html => { :id => "longitude" } , as: :hidden%>
      <%= j.input :photo %>
      <%= j.input :photo_cache, as: :hidden %>
      <% end %>
      <%= h.input :comments %>
      <% end %>

      <% forms = (1..10).map { render "lists/form" , f: f  } %>
      <button type='button' id="insertForm" data-forms="<%= forms.join('$$$$$') %>">Add a new place
      </button>

      <br>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-info'%>
    <% end %>

  </div>
</div>

<%= javascript_pack_tag 'form/autocomplete' %>
<%= javascript_pack_tag 'form/insertForm' %>
