
<div class = "container">
  <div class="list-container">
<h1><%= @list.name %></h1>
<br>
<div><%= @list.description %></div>
<div><%= @list.is_public %></div>

<% @list.places.each do |place| %>
<p><%= place.name %> -
  <%= place.address %></p>
<% end %>

  </div>

</div>
