
<div class = "container">
  <div class="list-container">
<h1><%= @list.name %></h1>
<br>
<div><%= @list.description %></div>
<div><%= @list.is_public %></div>
<div><%= cl_image_tag @list.photo, height: 300, width: 400, crop: :fill %></div>

<% @list.places.each do |place| %>
<p><%= place.name %> -
  <%= place.address %></p>
<% end %>


  </div>

</div>

