<div class = "user-profile-container">

    <!-- first section contains profile photo and bio section -->
    <div class="row justify-content-center section top-section">
      <!-- profile picture -->
      <div class="photo col-sm-5">
        <%= cl_image_tag(@user.photo.url, width: 300, height: 300, crop: :fill) unless @user.photo.url.nil? %>
      </div>

      <!-- bio section -->
      <div class="col-sm-7 bio-section">
        <!-- name, username and edit button -->
        <div class="container">
          <div class="row">
            <div class="col-12 center title">
              <p class="name"><strong><%=@user.full_name.titleize if @user.full_name %></strong></p>
            </div>
            <div class="col-12 center title" >
              <p class="handle">@<%=@user.username %></p>
            </div>
          </div>

          <div class="row bio-box">
            <div class="col-12">
              <p><%= @user.bio %></p>
            </div>
            <div class="col-12">
              <ul>
                <!-- would be better code to make a helper method instead of doing ruby calculations in the view -->
                <% if @user.facebook.present? %>
                <li><a href="<%= "http://www.facebook.com/" + @user.facebook %>" target="_blank"> <i class="clickable fab fa-facebook-square"></i></a></li>
                <% end %>
                <% if @user.instagram.present? %>
                <li><a href="<%= "http://www.instagram.com/" + @user.instagram %>" target="_blank"> <i class="clickable fab fa-instagram"></i></a></li>
                <% end %>
                <% if @user.twitter.present? %>
                <li><a href="<%= "http://www.twitter.com/" + @user.twitter %>" target="_blank"> <i class="clickable fab fa-twitter"></i></a></li>
                <% end %>
                <% if @user.website.present? %>
                <li><a href="<%= "http://" + @user.website %>" target="_blank"><i class="clickable fas fa-globe-americas"></i></a></li>
                <% end %>
              </ul>
            </div>
            <div class="follow">
              <div><%= render 'follow_form' if user_signed_in? %></div>
              <div>
                <% if current_user && @user.id == current_user.id %>
                  <div> <%= link_to "Edit Profile", edit_user_path, class: 'btn-link clickable-grey' %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- second section contains lists that are owned by user and lists that are liked/followed by user -->

      <!-- lists owned by user -->
      <div class="list-section">
        <div class="container headline-container">
        <strong><p id='mylist'>My Lists</p></strong>
          <div class="row">
            <% @user.lists.each do |list| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'shared/card', list: list %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- lists followed/liked by user -->
      <div class="list-section">
        <div class="container headline-container">
          <strong><p id='myfavs'>My Favorites</p></strong>
          <div class="row">
            <% @user.favourites.each do |fav| %>
            <% list = fav.list%>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to "", list_path(list)%>
               <%= render 'shared/card', list: list %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

</div>
  <!--   third section contains map -->
  <!--   <div class="row justify-content-center section">
      <div class="col-6">
        <h3>MAP</h3>
      </div>
    </div>
  </div>
 -->
