<div class = "list-container user-profile-container user-wrapper">
  <h2>My profile</h2>

  <div class = "user-profile-inner-container d-inline-flex">

    <p><strong>Username:  </strong>  <%=@user.username %></p>
    <p><strong>Name:  </strong>  <%=@user.full_name %></p>
    <p><strong>Bio:  </strong>  <%=@user.bio %></p>
    <p><strong>Social Media:  </strong>  <%=@user.instagram%> <%=@user.facebook%> <%=@user.twitter%></p>
    <p><strong>Personal Website: </strong>  <%=@user.website %></p>
    <p><%= cl_image_tag(current_user.photo.url, width: 300, height: 300, crop: :fill) unless current_user.photo.url.nil? %></p>

    <%= link_to "Edit user", edit_user_path %>

  <div><%= render 'follow_form' if user_signed_in? %></div>
</div>
  <div class="container">
  <div class="row">
    <% @user.lists.each do |list| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to "", list_path(list)%>
      <div class="card" id = "card-custom-attributes" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('<%= list.photo.url.nil? ? "placeholder" : cl_image_path(list.photo.url, width: 400, height: 500, crop: :fill) %>')" >
        <%= link_to "", list_path(list), class: 'card-link' %>
        <div class = "card-text-bottom">
          <div class="card-avatar"></div>
          <div class="card-content" style="">
            <%= list.name %>
          </div>
          <div class="card-likes">
            <span class="glyphicon glyphicon-heart"><% if list.favourites.nil? %> 0 Likes <% else %>
              <%= list.favourites.count %> <%= (list.favourites.count) == 1 ? 'Like' : 'Likes'%>
              <% end %>
            </span>
          </div>
        </div>

      </div>
    </div>
    <% end %>

  </div>
</div>

 <br><br><br><br>



<div class="container headline-container">
  <strong><p>My favorites</p></strong>
  <div class="row">
    <% @user.favourites.each do |fav| %>
    <% list = fav.list%>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to "", list_path(list)%>
      <div class="card" id = "card-custom-attributes" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('<%= list.photo.url.nil? ? "placeholder" : cl_image_path(list.photo.url, width: 400, height: 500, crop: :fill) %>')" >
        <%= link_to "", list_path(list), class: 'card-link' %>
        <div class = "card-text-bottom">
          <div class="card-avatar"></div>
          <div class="card-content" style="">
            <%= list.name %>
          </div>
          <div class="card-likes">
            <span class="glyphicon glyphicon-heart"><% if list.favourites.nil? %> 0 Likes <% else %>
              <%= list.favourites.count %> <%= (list.favourites.count) == 1 ? 'Like' : 'Likes'%>
              <% end %>
            </span>
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>


  <!-- </div> -->
</div>




