
<div class = "container-headline">
  <h2>Log in</h2>
  <div class = "form-container">
    <div class="inner-form-container">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }, label_html: { class: 'form' } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }, label_html: { class: 'form' } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
<br>
  <div class="form-actions btn-info">
    <%= f.button :submit, "Log in" %>
  </div>
  <br>
  <%= render "devise/shared/links"  %>
<% end %>

  </div>
</div>
</div>
</div>




