<%= simple_form_for([ list, list_place], remote: true) do |form| %>

  <%= form.simple_fields_for :place do |j| %>
      <%= j.input :name,placeholder: 'Venue', label: false, label_html: { class: 'form' }, :input_html => { :id => "autocomplete" }%>
      <%= j.input :address, label_html: { class: 'form' }, :input_html => { :id => "full_address" } , as: :hidden%>
      <%= j.input :latitude, label_html: { class: 'form' },  :input_html => { :id => "latitude" } , as: :hidden%>
      <%= j.input :longitude, label_html: { class: 'form' }, :input_html => { :id => "longitude" } , as: :hidden%>

  <%= form.input :comments, placeholder: "Describe the Workshop's goal", as: :text , label: false%>
  <%= j.input :photo, label: 'Select a nice pic:' %>
  <%= j.input :photo_cache, as: :hidden %>
<% end %>
  <div class = 'text-left'><%= form.submit 'Describe!', class: 'btn-info' %> </div>

<% end %>
