
<div class="container border mt-3">
  <%= cl_image_tag lp.place.photo, crop: :scale, class: 'place-image rounded' %>
  <h6 class="text-center mt-2"><%=lp.place.title%></h6>
  <p class="text-center text-secondary"><%=lp.place.name%></p>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-row justify-content-between align-items-center w-100">
      <p>Capacity:</p>
      <p><strong><%=lp.place.capacity%></strong>  people</p>
    </div>
    <div class="d-flex flex-row justify-content-between w-100">
      <p>Price:</p>
      <p><strong>$<%=lp.place.price%></strong></p>
    </div>
  </div>
  <p class="text-center">start time</p>
  <p class="text-center text-secondary"><%=lp.place.start_time%></p>
  <div class="d-flex align-items-center justify-content-center">
     <p><%= render 'list_places/delete', list_place: lp, list: list%></p>
  </div>
</div>



