 <div class="row">
  <% @places.each do |p| %>
  <div class="col">
    <div class="card mt-2">
      <div class="card-img" style="background: url('<%= p.photo.url.nil? ? "placeholder" : cl_image_path(p.photo.url, crop: :fill) %>')no-repeat center center; background-size: cover;" >
        <div class="places-container-likesHeart">
          <i class="far fa-heart"></i>
        </div>
      </div>
      <div class="places-container-cardInfo">
        <div class="places-container-cardTitle">
         <div class="places-text-cardTitle">
          <h6 class="text-center">
            <%= p.title %>
          </h6>
         </div>
        </div>
        <div class="places-container-cardDescription">
          <%= p.description %>
        </div>
        <div class="places-container-cardData">
          <%= p.name %>
        </div>
        <div>
          <%= p.capacity %>
        </div>
        <div class="btn btn-danger w-100">
          Reserve
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
