<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hobby Horse, find something to do around you! Start by browsing and attending different workshops to suit your interest.">

    <meta property="og:title" content="HobbyHorse">
    <meta property="og:image" content="app/assets/images/LISTA-BANNER-1.jpg">
    <meta property="og:description" content="Search for a class, hobby or city.">
    <meta property="og:site_name" content="HobbyHorse"/>

    <title>Hobby Horse</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
     <%cle = ENV["GOOGLE_MAPS_API_KEY"]%>
     <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=<%=cle%>&libraries=places&language=en'></script>

     <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">

  </head>
  <body>
    <%= render 'shared/navbar'  %>
    <%= render 'shared/flashes' %>
    <main><%= yield %></main>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
